@model IEnumerable<TesteDevFullStackDbm.Data.Dtos.ProtocolDto>

@{
    ViewData["Title"] = "Lista de Protocolos";
}

<h1>Lista de Protocolos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar Novo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.DataAbertura)</th>
            <th>@Html.DisplayNameFor(model => model.DataFechamento)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.DataAbertura)</td>
                <td>@Html.DisplayFor(modelItem => item.DataFechamento)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProtocol" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdProtocol" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.IdProtocol" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
